<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mapa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mapa</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <app-map
      [mapPoint]="waypoint"
    ></app-map>
  </div>

  <div style="display: flex; justify-content: center;">
    <ion-button fill="solid" [disabled]="!waypoint" (click)="openNavigation()">Otwórz nawigację</ion-button>
  </div>
  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>
