<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Wybierz trasę:
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Trasy</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngFor="let track of tracks$ | async; index as i">
    <ion-item>
      <ion-label>{{ track.name }}: {{ track.description }}</ion-label>

      <ion-button slot="end" [fill]="isTrackSelected(track) ? 'solid' : 'outline'"(click)="selectTrack(track)">Wybierz</ion-button>
      <ion-badge slot="start" color="primary">{{ track.waypoints.length }}</ion-badge>
    </ion-item>
  </div>

  Selected track: {{ selectedTrack$ | async | json }}
</ion-content>
